.main{

}

.follow{
    display: flex;
}

.follow__list{
    display: flex;
    width: 30%;
    align-items: center;
}

.follow__list__item{
    display: flex;
    border: palegoldenrod solid 2px;
    justify-content: space-around;
}

.follow__list__item__button{

}

ul {
    list-style: none;
}